*{
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    color: var(--dark);
}
:root{
    --light:#F9F7F7;
	--third:#DBE2EF;
	--secondery:#3F72AF;
    --dark:#112D4E;
} 
header{
    position: fixed;
    margin-bottom: 5px;
    height: 60px;
    width: 100%;
    margin-top: 0;
    top:0;
    background-color: var(--dark);
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu{
    background-color: black;
    height: 40px;
    width: 40px;
    float: left;
    margin-top: 10px !important;
    margin: 10px;      
}
main{
    width: 100%;
}
#root{
    display: flex;
    flex-wrap: wrap;
    margin-top:70px;
    padding: 7%;
    background-color: var(--light);
    background-repeat: repeat;
}
.wraper{
    width: 100%;  
}
.contact,.skills{
    display: flex;
    flex-wrap: wrap;
    width: 25%;
    background-color: var(--secondery);
    padding: 5%;
    padding-top: 3%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.contact{
    float: right;
}
.info{
    text-align: left;
    margin-top: 20%;
}
.profile,.projects{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 60%;
    background-color: var(--secondery);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.projects{
    float: right;
}
.profileImg{
    width: 80%;
    border-radius: 100%;
    margin: auto;
}
.project{
    width: 40%;
    margin: 5%;
    height: 200px;
    background-color: var(--third);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.project:hover{
    background-color: var(--light);
}
fieldset{
    background-color: var(--third);
    border: var(--dark) 5px solid;
    width: 70%;
    margin: auto;
    height: 100px;
    text-align: left;
    padding: 5%;
    margin-bottom: 10%;
}
legend{
    background-color: gray;
    color: white;
    padding: 5px 10px;
    font-size: 25px;
}
ul{
    width: 90%;
}
li{
    font-size: 25px;
    margin-bottom: 10%;
}
h1{
    color: white;
}
h2{
    margin: 5% auto 5% auto;
    width: 100%;
    text-align: center;
}
h3{
    font-size: 200%;
}
h4{
    font-size: 150%;
    color: white;
    margin: 5%;
}
@media all and (max-width:750px){
    .skills, .contact ,.profile, .projects{
        float: none;
        width: 100%;
        margin: auto;
        margin-bottom: 3%;
    }
}